<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ '/research' | prepend: site.baseurl }}/">Research</a></li>
          <li><a href="{{ '/teaching' | prepend: site.baseurl }}/">Teaching</a></li>
          <li><a href="{{ '/service' | prepend: site.baseurl }}/">Academic Outreach</a></li>
          <li><a href="{{ '/publications' | prepend: site.baseurl }}/">CV</a></li>
          <li><a href="{{ '/blog' | prepend: site.baseurl }}/">Blog</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. <a href="https://github.com/kssim/about-portfolio/">A.P</a> theme by kssim.
      </span>
    </footer>
  </body>
</html>
