---
layout: cv
---

<div class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <div class="post-line"></div>

  {{ content }}

</div>

<iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" src="https://github.com/scarioscia/scarioscia.github.io/blob/master/CV/Carioscia_CV_052120.pdf" width="500" height="700"></iframe>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left next">Prev</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right next">Next</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
